section {
 position: relative;
 /* min-height: 100vh; */
 z-index: 0;
}


.btn {
  display: inline-block;
  margin: 30px 0 0;
  padding: 10px 20px;
  background-color: purple;
  color: #fff;
  border-radius: 50px;
  border: 1px solid rgb(255, 157, 255);
}

