/* .title {
  text-align: center;
  color: #fff;
}
.title h1 {
  text-align: center;
  color: #fff;
  font-size: clamp(20px, 4vw, 40px);
}
.title p {
  text-align: center;
  color: #fff;
  font-size: clamp(12px, 4vw, 32px);
}
.title .btn {
  display: inline-block;
  margin: 30px 0 0;
  padding: 10px 20px;
  background-color: purple;
  color: #fff;

  border-radius: 50px;
  border: 1px solid rgb(255, 157, 255);
} */
