/* arrow 부분 */
.arrow {
  position: absolute;
  background: rgba(0, 0, 0, 0.4) url(../img/arrow.png);
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;

  border-radius: 50px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;

  transform: translateY(20px);
  transition: all 0.3s;
  z-index: 9999;
}

/* header 부분 */
header {
  position: absolute;
  width: 100vw;
  height: 80px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

header h1 {
  margin: 20px 30px 10px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-right: 30px;
}
header ul li a {
  color: #7e7d7d;
  font-size: 20px;
  font-weight: 600;
}

header .menu-btn {
  /* border: 1px solid blue; */
  width: 30px;
  height: 20px;
  position: relative;
  margin-right: 20px;

  display: none;
}
header .menu-btn .menu-line {
  width: 100%;
  height: 2px;
  background-color: #000;
  display: block;
  position: absolute;
}
header .menu-btn .menu-line:nth-child(1) {
  top: 0;
}
header .menu-btn .menu-line:nth-child(2) {
  top: 10px;
}
header .menu-btn .menu-line:nth-child(3) {
  top: 20px;
}

/* .sec-1 구역 */
.sec-1 {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  background: url(../img/sec-1-bg.png) no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-1 .title {
  text-align: center;
  color: #fff;
}
.sec-1 .title h1 {
  text-align: center;
  color: #fff;
  font-size: clamp(20px, 4vw, 40px);
}
.sec-1 .title p {
  text-align: center;
  color: #fff;
  font-size: clamp(12px, 4vw, 32px);
}
.sec-1 .title .btn {
  display: inline-block;
  margin: 30px 0 0;
  padding: 10px 20px;
  background-color: purple;
  color: #fff;

  border-radius: 50px;
  border: 1px solid rgb(255, 157, 255);
}
.sec-2 {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}
.sec-2 .title {
  margin: 30px 40px;
}
.sec-2 ul {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin: 0 30px;
  gap: 12px;
  flex-wrap: wrap;
}
.sec-2 ul li {
  display: flex;
  border: 1px solid #000000;
  width: 250px;
  height: 300px;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.sec-2 ul li h1 {
  color: plum;
}
