.fixed-arrow {
  position: fixed;
  z-index: 3;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background: rgba(126, 126, 126, 0.4) url(../img/arrow.png) no-repeat center;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
}
header {
  position: fixed;
  z-index: 3;
  width: 100%;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
header .inner h1 {
  color: #fff;
}
.nav-list {
  display: flex;
  gap: 42px;
}
.nav-list a {
  display: block;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}
.sec-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../img/sec-1-bg.png) no-repeat center/cover;
  min-height: 100vh;
}
.sec-1 .tit-wrap {
  color: #fff;
}
.sec-1 .tit-wrap .txt {
  margin: 30px auto 50px;
}
.sec-2 {
  padding: 200px 0;
}

.sec-2 .tit-wrap .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #dcc1ff;
  position: absolute;
  left: -100px;
  top: -50px;
  z-index: -1;
  animation: circle 5s infinite alternate linear;
}
.sec-2 .tit-wrap .circle:after {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #c599ff;
  top: -10px;
  left: calc(50% - 10px);
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sec-2-lst {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 40px;
}
.sec-2-lst li {
  width: 260px;
}
.sec-2-lst li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 218px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  box-shadow: 4px 4px 0 rgba(132, 132, 132, 0.25);
}

.sec-2-lst li a h4 {
  font-size: 35px;
  font-weight: 600;
  color: #c599ff;
}
.sec-2-lst li a p {
  color: #898989;
  font-size: 12px;
  max-width: 210px;
  text-align: center;
}

.sec-3 {
  display: flex;
  height: 100vh;
  align-items: center;
}
.sec-3 .tit-wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #f1f1f1;
  height: 100%;
}
.sec-3 .tit-wrap .txt {
  margin-bottom: 30px;
}
.sec-3 .img-wrap {
  width: 50%;
  background: url(../img/sec-3-bg.png) no-repeat center/cover;
  height: 100%;
}
