/* arrow 부분 */
.arrow {
  position: absolute;
  background: rgba(0, 0, 0, 0.4) url(../img/arrow.png);
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;

  border-radius: 50px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;

  transform: translateY(20px);
  transition: all 0.3s;
  z-index: 9999;
}

/* header 부분 */
header {
  position: fixed;
  width: 100vw;
  height: 80px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

header h1 {
  margin: 20px 30px 10px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-right: 30px;
}
header ul li a {
  color: #7e7d7d;
  font-size: 20px;
  font-weight: 600;
}

header .menu-btn {
  /* border: 1px solid blue; */
  width: 30px;
  height: 20px;
  position: relative;
  margin-right: 20px;

  display: none;
}
header .menu-btn .menu-line {
  width: 100%;
  height: 2px;
  background-color: #000;
  display: block;
  position: absolute;
}
header .menu-btn .menu-line:nth-child(1) {
  top: 0;
}
header .menu-btn .menu-line:nth-child(2) {
  top: 10px;
}
header .menu-btn .menu-line:nth-child(3) {
  top: 20px;
}

/* .sec-1 구역 */
.sec-1 {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  background: url(../img/sec-1-bg.png) no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-1 .title {
  text-align: center;
  color: #fff;
}
.sec-1 .title h1 {
  text-align: center;
  color: #fff;
  font-size: clamp(20px, 4vw, 40px);
}
.sec-1 .title p {
  text-align: center;
  color: #fff;
  font-size: clamp(12px, 4vw, 32px);
}
.sec-1 .title .btn {
  display: inline-block;
  margin: 30px 0 0;
  padding: 10px 20px;
  background-color: purple;
  color: #fff;

  border-radius: 50px;
  border: 1px solid rgb(255, 157, 255);
}
.sec-2 {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}
.sec-2 .circle {
 width: 150px;
 height: 150px;
 border-radius: 50%;
 border: 4px solid #dcc1ff;
 position: absolute;
 left: -60px;
 top: 20px;
 z-index: -1;
 animation: circle 5s infinite alternate linear;
}
.sec-2 .circle:after {
 display: block;
 content: "";
 position: absolute;
 width: 20px;
 height: 20px;
 border-radius: 50%;
 background-color: #c599ff;
 top: -10px;
 left: calc(50% - 10px);
}

@keyframes circle {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(360deg);
 }
}

.sec-2 .title {
  margin: 30px 40px;
}
.sec-2 ul {
  display: flex;
  justify-content: center;
  margin: 0 30px 50px;
  gap: 12px;
  flex-wrap: wrap;
}
.sec-2 ul li {
  display: flex;
  border: 1px solid #000000;
  width: 250px;
  height: 300px;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.sec-2 ul li h1 {
  color: plum;
}



.sec-3 {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.sec-3 .title {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.sec-3 .title h1{
  font-size: clamp(20px, 4vw, 40px);
}
.sec-3 .title p {
font-size: clamp(10px, 4vw, 25px);
}
.sec-3 .sec-3-img {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  background: url(../img/sec-3-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.sec-4 {
  width: 100vw;
  height: 100vh;
}
.sec-4 .title {
  position: relative;
  padding: 100px 30px;
  width: 100%;
  font-size: 30px
}
.sec-4 .title .btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 50px;
  font-size: 20px;
}

.sec-4 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 1280px;
  margin: 0 auto;
}
.sec-4 ul li {
  width: 200px;
  height: 250px;
  background: #acacac;
  display: flex;
  align-items: center;
  text-align: center;
}

.sec-4 ul li:nth-child(even) {
  margin-top: 130px;
}

.sec-4 ul li .title h1{
  font-size: 24px;
}
.sec-4 ul li .title p{
  font-size: 16px;
}



.sec-5 {
 height: 650px;
 position: relative;
}
.sec-5 h1 {
 font-size: 60px;
}
.sec-5-wrap {
 position: relative;
 height: 100%;
 z-index: 0;
}
.sec-5 a.btn {
 width: auto;
 padding: 0 20px;
}
.sec-5-content-wrap .content {
 position: absolute;
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
 z-index: 0;
 opacity: 0;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 color: #fff;
 transition: all 0.3s;
}
.sec-5-content-wrap .content.on {
 z-index: 1;
 opacity: 3;
}
.sec-5-content-wrap .content p {
 margin: 30px 0 20px;
}

.sec-5-content-wrap .con-0 {
 background-image: url(../img/bg-4-1.png);
}
.sec-5-content-wrap .con-1 {
 background-image: url(../img/bg-4-2.png);
}
.sec-5-content-wrap .con-2 {
 background-image: url(../img/bg-4-3.png);
}
.sec-5-content-wrap .con-3 {
 background-image: url(../img/bg-4-4.png);
}

.sec-5-menu {
 position: absolute;
 bottom: 20px;
 left: 50%;
 transform: translateX(-50%);
 z-index: 1;
 display: flex;
 gap: 10px;
 overflow: hidden;
 border-radius: 30px;
}
.sec-5-menu li a {
 background-color: rgba(255, 255, 255, 0.212);
 padding: 10px 20px;
 display: flex;
 flex-direction: column;
 transition: all 0.3s;
 justify-content: center;
 font-size: 17px;
 min-width: 150px;
color: #ffffff;
 align-items: center;
}
.sec-5-menu li a span:first-child{
    opacity: .6;
}
.sec-5-menu li.active a {
 background-color: #7044c2;
 color: #fff;
}




footer {
 background-color: #f1f1f1;
 padding: 30px 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
footer .left-wrap h5 {
 font-size: 30px;
 font-weight: 900;
}
.sns-icon {
 display: inline-flex;
 align-items: center;
 border-radius: 50%;
 justify-content: center;
 width: 60px;
 height: 60px;
 background-color: #7044c2;
}
.sns-icon:last-child {
 display: inline-flex;
 align-items: center;
 border-radius: 50%;
 justify-content: center;
 width: 60px;
 height: 60px;
 background-color: #7044c2;
}


footer .sns-icon img {
  width: 30px;
  height: 30px;
}